<div class="form-row">
    <label for="node-input-service">
        <i class="fa fa-folder"></i>
        Service
    </label>
    <select id="node-input-service" style="width: 70%">
        <!-- <option value="" disabled></option> -->
        <option value="_ext_">External cloudant or couchdb service</option>
    </select>
</div>

<div class="form-row hide" id="node-input-external-details">
    <label for="node-input-cloudant">
        <i class="fa fa-bookmark"></i>
        Server
    </label>
    <input type="text" id="node-input-cloudant">
</div>

<div class="form-row">
    <label for="node-input-database">
        <i class="fa fa-briefcase"></i>
        Database
    </label>
    <input type="text" id="node-input-database" placeholder="database">
</div>

<div class="form-row">
    <label for="node-input-docid">
        <i class="fa fa-key"></i>
        Doc. ID
    </label>
    <input type="text" id="node-input-docid">
</div>

<div class="form-row">
    <label for="node-input-attachmentname">
        <i class="fa fa-file-o"></i>
        Attch. name
    </label>
    <input type="text" id="node-input-attachmentname" placeholder="attachment.ext">
</div>

<div class="form-row">
    <label for="node-input-encoding"><i class="fa fa-tag"></i> Encoding</label>
    <select id="node-input-encoding" style="width: 70%">
        <option value="none">None</option>
        <option value="base64">Base 64</option>
    </select>
</div>
