<p>
     A node for searching documents in a Cloudant database.
 </p>
 <p>
     Searching for documents can be done in three modes: directly by using the
     document's <b>_id</b>, by using an existing <a
     href="https://cloudant.com/for-developers/search/" target="_blank">Search
     Index</a> or retrieving <b>all documents</b> stored in your database.
 </p>
 <p>
     When querying using the <b>_id</b> option, the value for the document's
     <code>_id</code> should be passed in the <code>msg.payload</code> as a
     string.
 </p>
 <p>
     To use an existing <b>Search Index</b> stored on the desired database,
     the query argument should be passed on the <code>msg.payload</code> as a
     string following the <code>indexName:value</code> pattern. Keep in mind
     that <i>the index must be created beforehand in the database.</i> and
     referenced here by its <code>design document/index name</code>.
 </p>
 <p>
     When querying using a <b>Search Index</b> you can pass the search
     parameters as an object in <code>msg.payload</code>.
 </p>
 <p>
     For example, you can pass an object like this:
 <p>
     <code>{ query: "abc*", limit: 100 }</code>
 </p>
 <p>
     to change the value of <code>limit</code>. You can find more information
     about <b>Search Index</b> parameters in the <a
     href="https://docs.cloudant.com/api.html?http#queries" target="_blank">
     official Cloudant documentation</a>.
 </p>
 <p>
     The last method to retrieve documents is to simply get all of them by
     selecting the option <b>all documents</b>.
 </p>
 <p>
     The <b>database name</b> must follow these rules:
     <ul>
         <li>No spaces</li>
         <li>All letters in small caps</li>
         <li>The first character can't be <code>_</code></li>
     </ul>
 </p>
